@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

html {
	font-size: 16px;
}

html,
body,
#root,
.App {
	height: 100%;
	overflow: hidden;
}

.main-content,
.ticket-list {
	width: inherit;
}

.side-menu {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 240px;
	height: calc(100vh - 48px);
}

.main-content {
	margin-left: 240px;
	overflow-y: hidden;
}

.font-poiret-one {
	font-family: 'Poiret One', cursive;
}
